<section class="preview" [style.--accent]="accentColor">
  <header class="preview__header">
    <p class="eyebrow">Live preview</p>
  </header>

  <article class="embed">
    <div class="embed__bar"></div>
    <div class="embed__body">
      <div class="embed__top">
        <div>
          <a
            *ngIf="embed.url; else titleOnly"
            class="embed__title"
            [href]="embed.url"
            target="_blank"
            rel="noreferrer"
          >
            {{ embed.title }}
          </a>
          <ng-template #titleOnly>
            <p class="embed__title">{{ embed.title }}</p>
          </ng-template>
          <p class="embed__description">{{ embed.description }}</p>
        </div>
        <img
          *ngIf="embed.thumbnail?.url"
          class="embed__thumbnail"
          [src]="embed.thumbnail.url"
          alt="Thumbnail"
        />
      </div>

      <div class="embed__fields" *ngIf="embed.fields?.length">
        <div class="embed__field" *ngFor="let field of embed.fields" [class.inline]="field.inline">
          <p class="field__name">{{ field.name }}</p>
          <p class="field__value">{{ field.value }}</p>
        </div>
      </div>

      <img
        *ngIf="embed.image?.url"
        class="embed__image"
        [src]="embed.image.url"
        alt="Banner image"
      />

      <footer class="embed__footer" *ngIf="embed.footer?.text">
        <span>{{ embed.footer.text }}</span>
      </footer>
    </div>
  </article>
</section>
