<div class="toolbar">
  <button type="button" class="ghost" (click)="composer.addEmbed('unity')">+ Unity</button>
  <button type="button" class="ghost" (click)="composer.addEmbed('fab')">+ Fab</button>
  <button type="button" class="ghost" (click)="composer.addEmbed('custom')">+ Custom</button>
  <button type="button" class="ghost" (click)="composer.toggleListPanel()">
    {{ composer.listPanelOpen() ? 'Hide Unity list' : 'Scrap Unity list' }}
  </button>
  <button
    type="button"
    class="ghost"
    (click)="composer.scrapFabFree()"
    [disabled]="composer.isScrapingFabFree()"
  >
    {{ composer.isScrapingFabFree() ? 'Scraping Fab Free...' : 'Scrap Fab Free' }}
  </button>
</div>
